body {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game-canvas {
  align-self: center;
  background-color: rgb(255, 255, 255);
}
