@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

#root {
  --distanceElements: 2rem;
  --mainColor: rgb(12, 41, 51);
}

body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
}

.global-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.header--pixel {
  color: white;
  border: 1px solid white;
}

/*  H E A D E R  */

.header--global {
  background-color: rgb(12, 41, 51);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

h1 {
  position: relative;
  font-size: xx-large;
  padding: 0;
  margin: 0;
  margin-left: var(--distanceElements);
}

h1 a {
  color: white;
}
h1 a:hover {
  color: goldenrod;
}

.header--log {
  display: flex;
  align-items: center;
  gap: var(--distanceElements);
}

.header--log-text {
  font-size: large;
}

.header--log-text > span {
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header--exit-session {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
}

.login {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: var(--distanceElements);
}

/*  N A V   */

.navigation-left {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.navigation-left ul {
  display: flex;
  gap: 0.25rem;
}

.navigation-left li {
  text-align: center;
  list-style: none;
}

.navigation-left a {
  text-decoration: none;
  color: white;
  border: solid rgb(12, 41, 51);
  background-color: rgb(12, 41, 51);
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-size: large;
}

.navigation-left a:hover {
  color: goldenrod;
  border: solid goldenrod;
}

/*  P A G E S  */

.header--main {
  color: white;
  font-size: larger;
}

.header--main h2 {
  position: relative;
  text-align: center;
}

.header--main h2:after {
  position: absolute;
  content: "";
  height: 0.5rem;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(to left, transparent, goldenrod 80%, transparent);
}

ul,
ol {
  padding: 0;
}

main {
  flex: 1;
}

/*  R E G I S T E R  */
.main--home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: var(--distanceElements);
}

form {
  background-color: goldenrod;
  padding: 0.5rem;
  color: white;
  border-radius: 0.5rem;
  z-index: 10;
}

fieldset {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.25rem;
  padding: 0.5rem;
  border-top: 1px solid var(--mainColor);
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0.125em;
}

legend {
  font-size: 8px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 6px;
  gap: 0.125rem;
}

input,
.submit {
  position: relative;
  border-radius: 0.2rem;
  border: none;
  padding: 0.3rem;
  font-size: 8px;
  outline: none;
  border: 1px solid white;
}

.submit {
  cursor: pointer;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.submit:hover {
  border-color: green;
}

input:invalid {
  border-left: solid red;
}

input:invalid:focus {
  border-left: solid blue;
}

form input::after {
  content: "";
  position: absolute;
  border-color: #009933;
  border-style: solid;
  border-width: 0 0.3em 0.25em 0;
  height: 0;
  top: 0;
  left: 0;
  margin-top: 0;
  transform: rotate(45deg);
  width: 0.5em;
}

input:valid {
  border-left: solid green;
}

.text-danger {
  color: red;
  position: absolute;
  bottom: 0;
  font-size: 5px;
}

.text-link {
  color: green;
  text-decoration: underline;
}

form p {
  font-size: 5px;
  text-align: center;
}

/*  P A R T Y  */

.main--party {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  padding: var(--distanceElements);
  color: white;
}

.article--party {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.main--party section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characterSelection ul,
.cardSequence ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--distanceElements) * 2);
}

.main--party aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 30rem;
  max-width: 30rem;
  align-self: center;
}

.main--party .deck {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  overflow-y: scroll;
  transform: scale(0.5);
  gap: 4rem;
}

/*  C O L L E C T I O N  */

.collection--card-container {
  margin: 1rem;
  gap: 1rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

/*  C A R D S  */

.card-template-container {
  position: relative;
  overflow: hidden;
  width: 12.7rem;
  height: 20rem;
  border-radius: 1rem;
  background: linear-gradient(
    135deg,
    rgba(70, 70, 70, 0.2) 0%,
    rgba(32, 32, 32, 0.212) 70%
  );
  display: flex;
  flex-direction: column;
}

.card-template-container .card-template-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 0.5rem;
  background: linear-gradient(
    135deg,
    rgba(248, 195, 126, 0.2) 5%,
    rgba(37, 16, 0, 0.9) 95%
  );
  flex: 1;
}

.card-template-container header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
  border-radius: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 0;
}

.card-template-container h3 {
  text-align: center;
  font-size: medium;
  color: black;
}

.card-template-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}

.card-template-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bubble {
  position: absolute;
  width: 2rem;
  height: 2rem;
  cursor: help;
}

.card-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(116, 0, 0);
  border-radius: 50%;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 0 0 2px rgb(255, 255, 255);
  cursor: help;
}

.top-mid {
  top: 18%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.top-mid-left {
  top: 21%;
  left: 30%;
  transform: translate(-50%, 50%);
}

.top-mid-right {
  top: 20%;
  left: 70%;
  transform: translate(-50%, 50%);
}

.top-back-left {
  top: 28%;
  left: 85%;
  transform: translate(-50%, 50%);
}

.top-back-right {
  top: 28%;
  left: 15%;
  transform: translate(-50%, 50%);
}

.bottom-mid {
  bottom: 9%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.bottom-mid-left {
  bottom: 8%;
  left: 25%;
  transform: translate(-50%, 50%);
}

.bottom-mid-right {
  top: 20%;
  left: 30%;
  transform: translate(-50%, 50%);
}

.bottom-back-left {
  top: 28%;
  left: 85%;
  transform: translate(-50%, 50%);
}

.bottom-back-right {
  top: 28%;
  left: 15%;
  transform: translate(-50%, 50%);
}

/*  S M A L L  C A R D S */

.card-template-container-small {
  position: relative;
  overflow: hidden;
  width: 12.7rem;
  height: 20rem;
  border-radius: 1rem;
  background: linear-gradient(
    135deg,
    rgba(70, 70, 70, 0.2) 0%,
    rgba(32, 32, 32, 0.212) 70%
  );
  display: flex;
  flex-direction: column;
}

/*  / P A G E S  */

/*  F O O T E R  */
footer {
  background: linear-gradient(
    to right,
    rgba(12, 41, 51, 0.1),
    rgba(12, 41, 51, 0.9),
    rgba(12, 41, 51, 0.1)
  );
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  margin-bottom: var(--distanceElements);
  z-index: 10;
}

footer ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0.25rem;
  list-style: none;
}

/*  P A R T I C L E S  */
.particles-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}
